# Ignore custom cmake directories
bin/

# Ignore generated ANTLR sources
gen/

# Ignore CLion files
cmake-build*/
.idea/

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
runtime/CMakeFiles/
runtime/src/rt_source/main.c
runtime/Makefile
runtime/cmake_install.cmake
runtime/src/CMakeFiles/
runtime/src/Makefile
runtime/src/cmake_install.cmake
src/CMakeCache.txt
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake

GazpreaBase.cbp
libparser.a
runtime/GazpreaRuntime.cbp
runtime/src/libgazrt.so
src/gazc
tests/garbo.txt
tests/gazc.ll
tests/lli-temp.out
tests/KyleConfig.json
tests/BigGarbo.json
tests/src/libgazrt_safe.so
tests/src/libgazrt_t.so
*.*~
